.prograss-section {
  height: auto;
  font-family: "Nunito", sans-serif;
  text-align: center;
  min-height: 90vh;
  border: 1px solid white;
}
.prograss-section h1 {
  font-weight: 600;
  margin: 10% 0 0 0;
}
.skill {
  padding-top: 10%;
}
.bg {
  margin: 60px 0;
  padding: 10px 0 0 0;
}
.bg ul {
  justify-content: space-around;
  text-decoration: none;
  list-style-type: none;
}
.bg .bar {
  height: 20px;
  margin: 0px 0 -25px 0;
}

@media screen and (max-width: 500px) {
  .prograss-section h1 {
    margin: 15% 0 0 0;
  }
}
